In [16]:
from bs4 import BeautifulSoup
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [17]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [/Users/elysesulkey/.wdm/drivers/chromedriver/mac64/90.0.4430.24/chromedriver] found in cache

# NASA Mars News

In [18]:
# Navigate to the page
url = 'https://redplanetscience.com/'
browser.visit(url)

In [19]:
# Assign the HTML content of the page to a variable
html = browser.html

# Parse HTML with Beautifulsoup
soup = BeautifulSoup(html,'html.parser')

In [24]:
# Retrieve the latest News Title and Paragraph Text
result = soup.find('div', class_="list_text")

news_title = result.text
news_p = result.find('div',class_="article_teaser_body").text

print(f"Latest News Title: {news_title}")
print(f"Latest News Paragraph: {news_p}")

Latest News Title:
May 22, 2021
A New Video Captures the Science of NASA's Perseverance Mars Rover
With a targeted launch date of July 30, the next robotic scientist NASA is sending to the to the Red Planet has big ambitions.

Latest News Paragraph: With a targeted launch date of July 30, the next robotic scientist NASA is sending to the to the Red Planet has big ambitions.

# JPL Mars Space Images - Featured Image

In [25]:
# Navigate to the page
img_url = 'https://spaceimages-mars.com/'
browser.visit(img_url)

In [28]:
# Assign the HTML content of the page to a variable
img_html = browser.html
# Parse HTML with Beautifulsoup
soup = BeautifulSoup(img_html,'html.parser')

In [34]:
# Find the image url for the current featured image
img_result = soup.find('img', class_="headerimage fade-in")['src']

img_url = img_result.replace("background-image: url('","").replace("');","")
featured_image_url = f"https://spaceimages-mars.com/{img_url}"

print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars3.jpg

# Mars Facts

In [38]:
# Collect the tables from the page 
facts_url = 'https://galaxyfacts-mars.com/'
browser.visit(facts_url)

# Parse the URL
tables = pd.read_html(facts_url)

# Find in lists of dataframes
df = tables[1]
df.columns = ["Description","Value"]
idx_df = df.set_index("Description")
idx_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [40]:
#Save html to folder and show as html table string
mars_df = df.to_html(classes = 'table table-striped')
print(mars_df)

<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Description</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>